# Editor/OS noise 
*.DS_Store
*.swp
*.swo
.idea/
.vscode/

# Environment files and other sensitive data, to prevent accidental commits
.env
.env.*
.venv
*.pem
*.key
gdd_key
gdd_key.*


# Terraform state and crash logs (inside ./terraform/)
terraform/terraform.tfstate
terraform/terraform.tfstate.backup
terraform/crash.log
terraform/*.tfplan
terraform/*.tfvars
terraform/.terraform/


# Airflow runtime files
dags/airflow.db
dags/airflow-webserver.pid
dags/logs/

# Python cache in any folder
**/.pytest_cache
**/__pycache__/

# Jupyter notebook checkpoints
notebooks/.ipynb_checkpoints/


#  Docker / Docker Compose 
*.log
docker-compose.override.yml
.env.docker
.dockerignore
.docker/
docker-data/


# Build and distribution files 
build/
dist/
*.egg-info/

.ruff_cache/